<script src="~/js/InputDialog.js" defer></script>
<template id="inputDialogTemplate">
    <dialog class="inputDialog" style="min-width: 25rem; max-width: 50rem;">
        <form method="dialog">
            <p></p>
            <textarea class="form-control mb-1" rows="3" style="width: 100%"></textarea>
            <nav></nav>
        </form>
    </dialog>
</template>
