<script src="~/js/MessageDialog.js" defer></script>
<template id="messageDialogTemplate">
    <dialog class="messageDialog" style="min-width: 25rem; max-width: 50rem;">
        <form method="dialog">
            <p></p>
            <nav></nav>
        </form>
    </dialog>
</template>
